body {
}
#imglist li{
    padding:13px;
    width:30%;
    float:left;
}
#imglist li .imgbox{
    height:150px;
}
#imglist li img{
    width:95%;
    height:150px;

}
#imglist li .title{
    font-size:small;
}
#imglist li .createtime{
   font-size:smaller;
}
#imglist .play{
    position:relative;
    top:-150px;
    opacity:0.8;
}